.payment__heading {
  text-align: center;
  width: 100%;
  font-weight: 400;
  padding: 15px auto;
}

.payment__heading a {
  text-decoration: none;
}

.payment__section {
  background-color: white;
  width: 90%;
  margin: 5px auto;
  padding: 10px;
  display: flex;
}

.payment__title {
  flex: 0.2;
  font-weight: bold;
}

.payment__address, .payment__items, .payment__card {
  flex: 0.8;
}

.payment_items .checkoutProduct:last-child {
  border-bottom: none;
}
